<h1>Log in</h1>

<%= form_for @user, :url => :session do |f| %>
  <div><label>Email</label><%= f.text_field :email %></div>
  <div><label>Password</label><%= f.password_field :password %></div>
  <div><%= f.submit 'Log in' %></div>
<% end %>